{% extends 'content/layout.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block newrelease %}
<div class="container mt-5">
    <h3 class="text_trend text-left">New Releases</h3>
    <div class="trend">
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          {% comment %} <img class="card-img-top" src=" {% static 'content/images/mastani.jfif' %}" alt="Card image cap" width="200px" height="150px"> {% endcomment %}
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/mastani.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/mastani.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/mastani.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'images/mastani.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>   
    </div> 
    <div><a  class="all" href=""> See all</a></div>     
  </div>

{% endblock newrelease %}

{% block trending %}
<div class="container mt-5">
    <h3 class="text_trend text-left">Trending Songs</h3>
    <div class="trend">
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px"> 
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>   
    </div> 
    <div><a  class="all" href=""> See all</a></div>    
  </div>

{% endblock trending %}

{% block toplaylist %}
<div class="container mt-5">
    <h3 class="text_trend text-left">Top Playlists</h3>
    <div class="trend">
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/pushpa.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Srivalli</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/pushpa.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Srivalli</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/pushpa.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Srivalli</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/pushpa.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Srivalli</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/pushpa.jfif' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Srivalli</p>
          </div>
        </div>
      </div>   
    </div> 
    <div><a class="all" href=""> See all</a> </div>     
  </div>
    
{% endblock toplaylist %}