{% extends 'content/layout.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}

{% block message %}
{% if messages %}
{%for message in messages %}
     {%if "login" in message.tags %}
     <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Welcome {{ user.username }}</strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     {%endif%}
{%endfor%}

{# signup form #}
{%for message in messages %}
     {%if "signup" in message.tags %}
     <div class="alert alert-primary alert-dismissible fade show" role="alert">
          {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     {%endif%}
{%endfor%}
{% endif %}
{% endblock message %}


{% block newrelease %}
<div class="container mt-5">
    <h3 class="text_trend text-left">New Releases</h3>
    <div class="trend">
      {% for song in songs %}
      <div class="trend_songs">
        <div id="target_btn_play" class="card" style="width: 12rem;">
         <a  href="{% url 'play' song.song_id %}"><img class="card-img-top song_img" src="/media/{{song.image}}" alt="Card image cap"width="200px" height="150px"></a> 
         {% comment %} <div class="play_ib" style="z-index:1;" ><a href=""><i class="fa fa-solid fa-play fa-2x greycolor"></i></a> </div> {% endcomment %}
          <div class="card-body">
            <!-- <input type="hidden" name="song_file" id="file_S" value="{{song.song}}"> -->
            <p class="card-text songs_title">{{song.name}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div> 
    <div><a  class="all" href=""> See all</a></div>     
  </div>

{% endblock newrelease %}

{% block trending %}
<div class="container mt-5">
    <h3 class="text_trend text-left">Trending Songs</h3>
    <div class="trend">
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px"> 
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src=" {% static 'content/images/atrangi.jpg' %}" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text songs_title">Rait Zara Si </p>
          </div>
        </div>
      </div>   
    </div> 
    <div><a  class="all" href=""> See all</a></div>    
  </div>

{% endblock trending %}

{% block toplaylist %}
<div class="container mt-5">
    <h3 class="text_trend text-left">Top Playlists</h3>
    <div class="trend">
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
         <a href=" {% url 'playlist' 'Love Hits' %} "><img class="card-img-top" src="media/images/LH.jpg" alt="Card image cap" width="200px" height="150px" data-value="Love hits"></a> 
          <div class="card-body">
            <p class="card-text p_title">Love Hits</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
         <a href=" {% url 'playlist' 'international' %} "><img class="card-img-top" src="media/images/international.webp " alt="Card image cap" width="200px" height="150px"></a> 
          <div class="card-body">
            <p class="card-text p_title">International Songs</p>
          </div>
        </div>
      </div>
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
         <a href=" {% url 'playlist' 'nepali' %} "><img class="card-img-top" data-value="nepali" src="media/images/nepali.jfif" alt="Card image cap" width="200px" height="150px"></a> 
          <div class="card-body">
            <p class="card-text p_title">Nepali Songs</p>
          </div>
        </div>
      </div>
      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
         <a href=" {% url 'playlist' 'party' %} "><img class="card-img-top" src="media/images/hp.webp" alt="Card image cap" width="200px" height="150px"></a> 
          <div class="card-body">
            <p class="card-text p_title">House Party</p>
          </div>
        </div>
      </div>

      <div class="trend_songs">
        <div class="card" style="width: 12rem;">
          <img class="card-img-top" src="media/images/hiphop.webp" alt="Card image cap" width="200px" height="150px">
          <div class="card-body">
            <p class="card-text p_title">Hip Hop - Top 30</p>
          </div>
        </div>
      </div>   
    </div> 
    
  </div>
    
{% endblock toplaylist %}

{% block topcharts %}

<div class="container mt-5">
  <h3 class="text_trend text-left">Top Charts</h3>
  <div class="trend">
    <div class="trend_songs">
      <div class="card" style="width: 12rem;">
       <a href=" {% url 'playlist' 1%} "><img class="card-img-top" src="media/images/international.webp" alt="Card image cap" width="200px" height="150px"></a> 
        <div class="card-body">
          <p class="card-text songs_title">Top International</p>
        </div>
      </div>
    </div>

    <div class="trend_songs">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="media/images/hindi.webp" alt="Card image cap" width="200px" height="150px">
        <div class="card-body">
          <p class="card-text songs_title">Hindi Top 50</p>
        </div>
      </div>
    </div>

    <div class="trend_songs">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="media/images/hiphop.webp" alt="Card image cap" width="200px" height="150px">
        <div class="card-body">
          <p class="card-text songs_title">Hip Hop</p>
        </div>
      </div>
    </div>

    <div class="trend_songs">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="media/images/retro.webp" alt="Card image cap" width="200px" height="150px">
        <div class="card-body">
          <p class="card-text songs_title">Retro Top 50</p>
        </div>
      </div>
    </div>

    <div class="trend_songs">
      <div class="card" style="width: 12rem;">
        <img class="card-img-top" src="media/images/pop.webp" alt="Card image cap" width="200px" height="150px">
        <div class="card-body">
          <p class="card-text songs_title">Pop- Top 50</p>
        </div>
      </div>
    </div>   
  </div> 
  <div><a class="all" href=""> See all</a> </div>     
</div>
  

{% endblock topcharts %}