{% extends 'content/layout.html' %}
{% block form %}
<div class="f-flex">
    <div class="game-outer  row align-items-center">
      <h2 class="text-center">Login</h2>
    
          <form method="POST" action=" {% url 'login' %}" novalidate>
              {% csrf_token %}
              
              
              
              {% for fm in form %}
              <div class="form-group mt-4">
                {{fm.label_tag}}
                {{fm}}
                <span class="form_error">{{fm.errors|striptags}}
             </span>
              </div>
              {% endfor %}

             {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
              <span class="form_error">{{error}}</span>
              {% endfor %}
              {% endif %}
                <button type="submit" class="btn btn-primary mt-3">Login</button>
          </form>
  </div>
  </div>
{% endblock form %}
