{% extends 'content/layout.html' %}

{% block song_d %}
<div class="b_song_d ">
    <div class="song_i">
     <img  src="/media/{{song.image}}"  width="200px" height="200px"></a> 
    </div>

    <div class="song_d_n">
        
        <h5>{{song.name}} | {{song.singer}}</h5>
        <h3>{{song.name}}</h3>
        <p>{{song.singer}}</p>
    </div>
</div>
{% endblock song_d %}


{% block similar_songs %}
        <div class="container mt-5">
            <h3 class="text_trend text-left">Similar Songs</h3>
            <div class="trend">
                {% for s in recommend_songs|slice:":5" %}
                <div class="trend_songs">
                    <div class="card" style="width: 12rem;">
                      <img class="card-img-top" src="/media/images/retro.webp" alt="Card image cap" width="200px" height="150px">
                      <div class="card-body">
                        <p class="card-text songs_title">{{s.name}}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div> 
            <div><a class="all" href=""> See all</a> </div>     
          </div>
{% endblock similar_songs %}


{% block more_f_artist %}
<div class="container mt-5">
    <h3 class="text_trend text-left">More From Pritam</h3>
    <div class="trend">
        {% for s in recommend_songs|slice:":5" %}
        <div class="trend_songs">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top" src="/media/images/retro.webp" alt="Card image cap" width="200px" height="150px">
              <div class="card-body">
                <p class="card-text songs_title">{{s.name}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div> 
    <div><a class="all" href=""> See all</a> </div>     
  </div>
{% endblock more_f_artist %}

{% block artist %}
<div class="container mt-5">
    <div class="artist_l">
        <div class="artist">
            <div class="circle_a">

            </div>
            <p>Arjit</p>
            </div>
            
            
        <div class="artist">
             <div class="circle_a">
                
            </div>
            <p>Arjit</p>
        </div>
        <div class="artist">
            <div class="circle_a">
                
            </div>
            <p>Arjit</p>
        </div>
        <div class="artist">
            <div class="circle_a">
                
            </div>
            <p>Arjit</p>
        </div>
        <div class="artist">
            <div class="circle_a">
                
            </div>
            <p>Arjit</p>
        </div>
    </div>

</div>
   
{% endblock artist %}


{% block footer %}
    <div class="play_song">
        
        <div class="im_nm_sec">
            <div class="im">
                <img src="/media/{{song.image}}" alt="" height="50px" id="ply_img" class="img_s">
            </div>
            <div class="div_nm_sng">
               <span class="s_name">{{song.name}}</span> 
            </div>
        </div>
    
        <div class="fav_i">
         
            <i class="fa fa-solid fa-heart fa-lg"></i>
           <a href=""> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi tdS bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg></a>
        </div>
        <div id="slider">
            <div id="slidersong">
               
            </div>
        </div>
        <div id="song_time">
            <span id="Ctime">
            </span>/
            <span id="Dtime"></span>
        </div>
        <input type="hidden" name="song_file" id="file_S" value="{{song.song}}">
        <div class="btn_play_next">
            <button style="margin: 6px;" data-sid="{{songC.song_id}}" class="previous"><i class="fa fa-step-backward fa-2x" aria-hidden="true"></i></button>
            <button style="margin: 6px;" class="play"><i class="fa fa-play fa-2x" aria-hidden="true"></i></button>
            <button data-sid="{{songC.song_id}}" style="margin: 6px;" class="next"><i class="fa fa-step-forward fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="audio_control">
            <p id="volume_show">90</p>
            <i class="fa fa-volume-up fa-2x" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
            <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume"> 
        </div>
    </div>
{% endblock footer %}

