{% load static %}
<script>

let recent_volume= document.querySelector('.volume');
let volume_show = document.querySelector('#volume_show');

let audio =document.createElement("audio");
let playingSong=false;
var song="";
let progressed=document.getElementById("slidersong");
let progess_bar=document.getElementById("slider");
var three_tar=document.getElementsByClassName('tdS');



if (window.location.href.indexOf("song_c_o") > -1 ||window.location.href.indexOf("playsong")>-1||window.location.href.indexOf("playsearch")>-1) {
  var song=document.getElementById("file_S").value;
  audio.src="/media/"+song;
  audio.play();
  playingSong = true;
  $(".play").html("<i class='fa fa fa-pause fa-2x'></i>");

}

if(window.location.href.indexOf("playsong") > -1){

  let ar =$(".artist_name").text();
  let array_artist=ar.split(",");
  $(".f_ar").html(array_artist[0]);
  $(".s_ar").html(array_artist[1]);
  $(".t_ar").html(array_artist[2]);
 
}



$(".song_img").mouseenter(function(e){
  
  e.target.style.opacity='0.7'
  
});


 $(".trend_songs").mouseleave(function(e){
  //   $(".play_ib").hide();
  //   $(".song_img").removeClass("songLook");
  //  console.log("i am mouse leave");
  e.target.style.opacity='1'
 });

 $("#ham_logo").click(function(e){
    e.preventDefault();
  $(".hamburger_ele").toggle(10,function(){
    $(".hamburger_ele").css("display","block");
  });
  
});


window.onload = function(){
  var divToHide = document.getElementById('ham_logo');
  document.onclick = function(e){
    if(e.target!== divToHide){
      $(".hamburger_ele").css("display","none");

    }
    if(e.target!== three_tar[0]){
      $(".three_list").css("display","none");
    }
  };
};



function playsong(){
  audio.play();
  playingSong = true;

}

function pausesong(){
  audio.pause();
  playingSong = false;
  
}

// playsong.html
$(".play").click(function(){
  if(playingSong==false){
    playsong();
    $(this).html("<i class='fa fa-solid fa-pause fa-2x'></i>");

  }else{
    pausesong();
    $(this).html("<i class='fa fa fa-play fa-2x'></i>");
  }
});

function volume_change(){
	volume_show.innerHTML = recent_volume.value;
	audio.volume = recent_volume.value / 100;
}

function mute_sound(e){
  e.preventDefault();
	audio.volume = 0;
	volume.value = 0;
	volume_show.innerHTML = 0;
}



audio.ontimeupdate=function(e){
  progressed.style.width=Math.floor(audio.currentTime*100/audio.duration )+"%";
  var duration = audio.duration; //song is object of audio.  song= new Audio();


var sec= new Number();
var min= new Number();
 sec = Math.floor( duration );    
 min = Math.floor( sec / 60 );
min = min >= 10 ? min : '0' + min;    
sec = Math.floor( sec % 60 );
sec = sec >= 10 ? sec : '0' + sec;
if(sec!==null && min!==null){
  document.getElementById("Dtime").innerHTML=min + ":"+ sec;
}



var duration = document.getElementById('Ctime');
    var s = parseInt(audio.currentTime % 60);
    var m = parseInt((audio.currentTime / 60) % 60);
    if(s!==null && m!==null){
      duration.innerHTML = m + ':' + s ;
    }
     
}
$("#slider").click(function(e){
  audio.currentTime= (e.offsetX/progess_bar.offsetWidth) *audio.duration;
});


$(".next").click(function(){
 let index=0;
 let id;
 id=parseInt($(this).attr('data-sid'));
 mydata={s_id:id};
 
 $.ajax({
     url:"{% url 'next'  %}",
     method:"GET",
     data:mydata,
     context: this,
     success:function(data){
      index = data.filter_playlist.findIndex(x => x.song_id ===parseInt(id));
      if (index<data.filter_playlist.length-1) {
      index++;
      let y = data.filter_playlist[index].song_id;
      $(this).attr("data-sid",y);
      $(".previous").attr("data-sid",y);
      $(".play").html("<i class='fa fa fa-pause fa-2x'></i>");
      let next_song=data.filter_playlist[index].song;
      audio.src="/media/"+next_song;
      $(".s_name").text(data.filter_playlist[index].name);
      document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
      audio.play();
      }else{
        index=0;
        let next_song=data.filter_playlist[index].song;
        $(this).attr("data-sid",data.filter_playlist[index].song_id);
        audio.src="/media/"+next_song;
        $(".s_name").text(data.filter_playlist[index].name);
        document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
        audio.play(); 
      }
    }
   });
});

$(".previous").click(function(){
  let id;
  let index=0;
  id=parseInt($(this).attr('data-sid'));
  mydata={s_id:id};

  $.ajax({
    url:"{% url 'previous'  %}",
     method:"GET",
     data:mydata,
     context: this,
     success:function(data){
      index = data.filter_playlist.findIndex(x => x.song_id ===parseInt(id));
      if(index>0){
        index--;
        console.log(index);
      let y = data.filter_playlist[index].song_id;
      $(this).attr("data-sid",y);
      $(".next").attr("data-sid",y);
      $(".play").html("<i class='fa fa fa-pause fa-2x'></i>");
      let next_song=data.filter_playlist[index].song;
      audio.src="/media/"+next_song;
      $(".s_name").text(data.filter_playlist[index].name);
      document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
      audio.play();

      }else{
        index=0;
        let next_song=data.filter_playlist[index].song;
        $(this).attr("data-sid",data.filter_playlist[index].song_id);
        audio.src="/media/"+next_song;
        $(".s_name").text(data.filter_playlist[index].name);
        document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
        audio.play(); 


      }
     }

  })

 

});
$(".tdS").click(function(e){
  e.preventDefault();
  if(e.target==three_tar[0]){
    $(".three_list").css("display","block");
  }
})

$(".rm_u").click(function(e){
  e.preventDefault()
  l_id=parseInt($(this).attr("data-lid"))
  console.log(l_id);
  mydata={listen_l:l_id}
  $.ajax({
    url:"{% url 'LL'  %}",
    data:mydata,
    method:"GET",
    success:function(data){
      if(data.status==1){
        alert("Your song has been added to Listen Later")
        Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Song has been added to Listen Later',
        showConfirmButton: false,
        timer: 1500
        })
      }else{
        alert(" You need To Login To add To Listen Later")
      }
    
     }
  });
})




</script>