{% load static %}
<script>

let recent_volume= document.querySelector('#volume');
let volume_show = document.querySelector('#volume_show');

let audio =document.createElement("audio");
let playingSong=false;
var song="";
let progressed=document.getElementById("slidersong");
let progess_bar=document.getElementById("slider");



if (window.location.href.indexOf("song_c_o") > -1) {
  var song=document.getElementById("file_S").value; 
  audio.src="/media/"+song;
  console.log(audio.src);
  audio.play();
  playingSong = true;
  $(".play").html("<i class='fa fa fa-pause fa-2x'></i>");

}



$(".song_img").mouseenter(function(){
  $(".play_ib").css('display','block');
  $(".song_img").addClass("songLook");
  
});


 $(".trend_songs").mouseleave(function(e){
    $(".play_ib").hide();
    $(".song_img").removeClass("songLook");
   console.log("i am mouse leave");
 });

 $("#ham_logo").click(function(e){
    e.preventDefault();
  $(".hamburger_ele").toggle(10,function(){
    $(".hamburger_ele").css("display","block");
  });
  
});


window.onload = function(){
  var divToHide = document.getElementById('ham_logo');
  document.onclick = function(e){
    if(e.target!== divToHide){
      $(".hamburger_ele").css("display","none");

    }
  };
};



function playsong(){
  audio.play();
  playingSong = true;

}

function pausesong(){
  audio.pause();
  playingSong = false;
  
}

// playsong.html
$(".play").click(function(){
  if(playingSong==false){
    playsong();
    $(this).html("<i class='fa fa-solid fa-pause fa-2x'></i>");

  }else{
    pausesong();
    $(this).html("<i class='fa fa fa-play fa-2x'></i>");
  }
});

function volume_change(){
	volume_show.innerHTML = recent_volume.value;
	audio.volume = recent_volume.value / 100;
}

function mute_sound(){
	audio.volume = 0;
	volume.value = 0;
	volume_show.innerHTML = 0;
}



// {% comment %} $('.song_d').click(function (e) {
//   e.preventDefault(); 
//   id=$(this).attr('data-sid');
//   mydata={song_id:id};
//   $.ajax({
//     url:"{% url 'song_s' %}",
//     method:"GET",
//     data:mydata,
//     success:function(data){
//       if(data.status=="save"){
//         console.log("YEP SSS");
//       }
//     }

//   });
//   $(".play_song").addClass("ps");


// }); {% endcomment %}

audio.ontimeupdate=function(e){
  progressed.style.width=Math.floor(audio.currentTime*100/audio.duration )+"%";
  var duration = audio.duration; //song is object of audio.  song= new Audio();


var sec= new Number();
var min= new Number();
 sec = Math.floor( duration );    
 min = Math.floor( sec / 60 );
min = min >= 10 ? min : '0' + min;    
sec = Math.floor( sec % 60 );
sec = sec >= 10 ? sec : '0' + sec;
if(sec!==null && min!==null){
  document.getElementById("Dtime").innerHTML=min + ":"+ sec;
}



var duration = document.getElementById('Ctime');
    var s = parseInt(audio.currentTime % 60);
    var m = parseInt((audio.currentTime / 60) % 60);
    if(s!==null && m!==null){
      duration.innerHTML = m + ':' + s ;
    }
     
}
$("#slider").click(function(e){
  audio.currentTime= (e.offsetX/progess_bar.offsetWidth) *audio.duration;
});


$(".next").click(function(){
 let index=0;
 let id;
 id=parseInt($(this).attr('data-sid'));
 console.log("Song Id " +id);
 mydata={s_id:id};
 
 $.ajax({
     url:"{% url 'next'  %}",
     method:"GET",
     data:mydata,
     context: this,
     success:function(data){
      index = data.filter_playlist.findIndex(x => x.song_id ===parseInt(id));
      if (index<data.filter_playlist.length-1) {
      index++;
      let y = data.filter_playlist[index].song_id;
      $(this).attr("data-sid",y);
      let next_song=data.filter_playlist[index].song;
      audio.src="/media/"+next_song;
      $(".s_name").text(data.filter_playlist[index].name);
      document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
      audio.play();
      }else{
        index=0;
        let next_song=data.filter_playlist[index].song;
        $(this).attr("data-sid",data.filter_playlist[index].song_id);
        audio.src="/media/"+next_song;
        $(".s_name").text(data.filter_playlist[index].name);
        document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
        audio.play(); 
      }
    }
   });
});

$(".previous").click(function(){
  let id;
  let index=0;
  id=parseInt($(this).attr('data-sid'));

  $.ajax({
    url:"{% url 'previous'  %}",
     method:"GET",
     context: this,
     success:function(data){
      index = data.filter_playlist.findIndex(x => x.song_id ===parseInt(id));
      console.log(index)
      if(index>0){
        index--;
      let y = data.filter_playlist[index].song_id;
      $(this).attr("data-sid",y);
      let next_song=data.filter_playlist[index].song;
      audio.src="/media/"+next_song;
      $(".s_name").text(data.filter_playlist[index].name);
      document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
      audio.play();

      }else{
        index=0;
        let next_song=data.filter_playlist[index].song;
        $(this).attr("data-sid",data.filter_playlist[index].song_id);
        audio.src="/media/"+next_song;
        $(".s_name").text(data.filter_playlist[index].name);
        document.getElementById('ply_img').src="/media/"+data.filter_playlist[index].image;
        audio.play(); 


      }
     }

  })

 

});
</script>