{% extends 'content/layout.html' %}

{% block song_d %}
<div class="b_song_d ">
    <div class="song_i">
     <img  src="/media/images/LH.jpg"  width="200px" height="200px"></a> 
    </div>

    <div class="song_d_n">
        <p>Love Hits Songs</p>
        <h4>Love Hits- Hindi</h4>
    </div>
</div>

<div class="table_s container" >
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th style="padding: 18px;">Track</th>
            <th style="padding: 18px;" scope="col">Artists</th>
            <th style="padding: 18px;" scope="col">Genre</th>
            <th style="padding: 18px;" scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
            {% for song in playlist %}
               <tr>
                <td>{{ forloop.counter }}</td>
                 <td><a class="song_d" style="text-decoration: none; color: black;" href="{% url 'song_c_o' song.song_id %}"><img style="margin-left: 10px;" src="/media/{{song.image}}" width="60px" alt=""><span style="padding-left: 10px;">{{song.name}}</span></a></td>
               <td style="padding: 23px;"><a style="text-decoration: none; color: black;" href="">{{song.singer}} </a></td> 
                 <td style="padding: 23px;">{{song.tags}} </td>
                 <td style="padding: 23px;">klfsfjs</td>
               </tr> 

            
            {% endfor %}
         
        </tbody>
      </table>
</div>
{% endblock song_d %}