{% extends 'content/layout.html' %}

{% block song_d %}
<div class="b_song_d ">
    <div class="song_i">
     <img  src="/media/{{songC.image}}"   width="200px" height="200px"></a> 
    </div>

    <div class="song_d_n">
        <h5>{{songC.name}} | {{songC.singer}}</h5>
        <h3>{{songC.name}}</h3>
        <p class="artist_name">{{songC.singer}}</p>


        <div class="share_link">
            <div class="facebook">
                <a href="#" 
        onclick="
       window.open(
        'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
        'facebook-share-dialog', 
        'width=626,height=436'); 
         return false;">
       <img src="/media/images/facebook.png" width="40px" height="40px" alt=""> 
      </a>
            </div>
            <div class="facebook">
                <a href="#" 
               onclick="
               window.open(
              'https://www.twitter.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
               return false;">
               <img src="/media/images/twitter.png" width="40px" height="40px" alt="">
      </a>

            
            </div>
            <div class="facebook">
              <a href="#" 
               onclick="
               window.open(
              'https://www.instagram.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
              'facebook-share-dialog', 
              'width=626,height=436'); 
               return false;">
               <img src="/media/images/insta.png" width="40px" height="40px" alt="">
            </a>
             
            </div>
          </div>
    </div>
</div>

<div class="table_s container" >
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Track</th>
            <th scope="col">Artists</th>
            <th scope="col">Genre</th>
            <th class="duration" scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
            {% for song in playlist %}
               <tr>
                <td>{{ forloop.counter }}</td>
                 <td><a class="song_d" style="text-decoration: none; color: black;" href="{% url 'song_c_o' song.song_id %}"><img style="margin-left: 10px;" src="/media/{{song.image}}" width="60px" alt=""><span style="padding-left: 10px;">{{song.name}}</span></a></td>
               <td class="td_list"><a style="text-decoration: none; color: black;" href="">{{song.singer}} </a></td> 
                 <td class="td_list">{{song.tags}} </td>
                 <td id="Dutime" style="padding: 23px;">{{song.info.length}}</td>
               </tr> 

            
            {% endfor %}
         
        </tbody>
      </table>
</div>
{% endblock song_d %}
{% block footer %}
<div class="three_list">
    <div class="tdl"> <a  class="rm_u" href=""><i class="fa fa-solid fa-download"></i> <span class="share_t">Download</span></a> </div>
    <div class="tdl"><a  class="rm_u" data-lid="{{songC.song_id}}" href=""><img src="/media/images/LL.png" alt="" width="25px" height="25px">  Listen Later</span> </a> </div>
    <div class="tdl"><a  class="rm_u"  href=""><i class="fa fas fa-share"></i><span class="share_t">View Artist</span> </a></div>
    </div> 


    <div class="play_song">
        
        <div class="im_nm_sec">
            <div class="im">
                <img src="/media/{{songC.image}}" alt="" height="50px" id="ply_img" class="img_s">
            </div>
            <div class="div_nm_sng">
               <span class="s_name">{{songC.name}}</span> 
            </div>
        </div>
    
        <div class="fav_i"> 
            <a href=" {% url 'favourite' %}" data-fav="{{songC.song_id}}" class="favourite"><i style="color: black;" class="fa fa-solid fa-heart fa-lg"></i></a> 
            <a href=""> <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi tdS bi-three-dots-vertical" viewBox="0 0 16 16">
                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              </svg></a>
        </div>
        <div id="slider">
            <div id="slidersong">
               
            </div>
        </div>
        <div id="song_time">
            <span id="Ctime">
            </span> <span class="slash">/</span> 
            <span id="Dtime"></span>
        </div>
        <input type="hidden" name="song_file" id="file_S" value="{{songC.song}}">
        <div class="btn_play_next">
            <button style="margin: 6px;" data-sid="{{songC.song_id}}" class="previous"><i class="fa fa-step-backward fa-2x" aria-hidden="true"></i></button>
            <button style="margin: 6px;" class="play"><i class="fa fa-play fa-2x" aria-hidden="true"></i></button>
            <button data-sid="{{songC.song_id}}" style="margin: 6px;" class="next"><i class="fa fa-step-forward fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="audio_control">
            <p id="volume_show">90</p>
            <i class="fa fa-volume-up fa-2x" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
            <input type="range" min="0" max="100" value="90" onchange="volume_change()" class="volume"> 
        </div>
    </div>
{% endblock footer %}