{% extends 'content/layout.html' %}

{% block song_d %}
<div class="b_song_d ">
    <div class="song_i">
     <img  src="/media/images/{{image}}"  width="200px" height="200px"></a> 
    </div>

    <div class="song_d_n">
        <p>Love Hits Songs</p>
        <h4>Love Hits- Hindi</h4>
    </div>
</div>

<div class="table_s container" >
    <table class="table">
        <thead>
          <tr>
            <th></th>
            <th class="head_p" >Track</th>
            <th class="head_p"  scope="col">Artists</th>
            <th class="head_p"  scope="col">Genre</th>
            <th class="head_p"  scope="col">Duration</th>
          </tr>
        </thead>
        <tbody>
            {% for song in playlist %}
               <tr>
                <td>{{ forloop.counter }}</td>
                 <td><a class="song_d" style="text-decoration: none; color: black;" href="{% url 'song_c_o' song.song_id %}"><img style="margin-left: 10px;" src="/media/{{song.image}}" width="60px" alt=""><span class="td_list">{{song.name}}</span></a></td>
               <td class="td_list"><a style="text-decoration: none; color: black;" href="">{{song.singer}} </a></td> 
                 <td class="td_list" >{{song.tags}} </td>
                 <td class="td_list" >klfsfjs</td>
               </tr> 

            
            {% endfor %}
         
        </tbody>
      </table>
</div>
{% endblock song_d %}