
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
   
}
.header{
    background-color: #F5F5F5;
}
.header_sec{
    position: sticky;
    padding: 17px 0px;
    display: flex;
    justify-content: space-between;


}
.m{
    padding:0px  20px;
}
.header_1{
    display: flex;
}
.header_2{
    display: flex;
    margin-right: 12px;
}
.search{
    width: 36vw;
    height: 36px;
    padding: 0px 40px;
    border-radius: 30px;
}
.trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text_trend{
    font-family: 'League Spartan', sans-serif;
    margin-left: 20px;

}
.songs_title{
    font-family: 'Fredoka', sans-serif;
}
.all{
    float: right;
    display: block;
    text-decoration: none;
    margin-right: 26px;
    color: #ff0000;
}
#ham_logo{
    color: black;
}


/* Form Css */

.f-flex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form_error{
    color: red;
    float: right;
    clear: both;
}

.play_ib{
    position: absolute;
    top: 30%;
    left: 45%;
     display: none; 

    
}

.greycolor{
    color: #c1bcbc;
}

.songLook{
    opacity: 0.7;
    transition: 0.5s ease-out;
}


/* Hamburger */

.hamburger_ele{
    display: none; 
    position: fixed;
    top: 0%;
    width: 23%;
    background-color: #fdfdfd;
    height: 100%;
    z-index: 1;
    padding: 1.5rem;
}


.login_signup:hover{
    color: gainsboro;

}

.ham_link{
    text-decoration: none;
    color: black;
}
.ham_link:hover{
    color: #4a3b3b;
    text-decoration: none;
}
.quick_access{
    margin-top: 2rem;
}

.a_child{
    margin: 1.5rem;
    text-decoration: none;
    color: black;
}

/* song_d.html */

.b_song_d{
    display: flex;
    margin: 120px 15px;

}
.song_d_n{
    margin: 40px;
}
/* tr:hover{
    cursor: pointer;
    background-color: #ccc;
  } */

/* song play */

.play_song {
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #F5F5F5;

}


.im_nm_sec {
    display: flex;
    margin: 10px;
}

#ply_img {
    border-radius: 4px;
}

.div_nm_sng {
    margin-left: 8px;
}
.btn_play_next{
    padding-top: 12px;
    position: absolute;
    left: 46%;
}
/* .audio_control{
    
} */
.fav_i{
    padding-top: 23px;
    position: absolute;
    left: 22%;
}

#slider{
    height: 10px;
    width: 500px;
    background-color: white;
    margin:5px 0px 0px 12%;
    cursor: pointer;

}
#slidersong{
    background-color: black;
    height: 10px;
    width: 50%;
    transition: all 7s;
}
#song_time{
    border: 1px solid black;
    height: 47%;
    padding: 4px;
    border-radius: 10px;
    margin: 13px;
}
.artist_l{
    display: flex;
}
.circle_a{
    border-radius: 50%;
    width: 154px;
    height: 153px; 
    background-color: black;
    margin: 26px;

}
.tdS{
    width: 37px;
    height: 20px;
    color: black;
}

.three_list{
    display: none;
    position: fixed;
    padding: 15px;
    bottom: 43px;
    left: 26%;
    z-index: 1;
    /* display: none; */
    background-color: rgb(211, 207, 207);
}
.tdl{
    margin: 5px;
}
.share_t{
    margin-left: 5px;
}
.rm_u{
    text-decoration: none;
    color: black;
}
.rm_u:hover{
    text-decoration: none;
    color: black;
   

}
.share_link{

    z-index: 1;
    display: flex;
}
.facebook{
    margin: 5px;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  .wrapper {
    width: 100%;
    max-width: 31.25rem;
    /* margin: 6rem auto; */
  }
  
  .label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
  }
  
  .searchBar {
    width: 140%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 80%;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }

  /* Footer */

  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
    body{
    margin:0;
    overflow-x:hidden !important;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
    }
    
    
    a{
    text-decoration:none;
    outline:none !important;
    color:#fff;
    }
    
    .border-shape {
    background: #ffbe00 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    }
    
    .border-shape::before {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
    }
    
    .border-shape::after {
    background: #ffbe00 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
    }
    
    
    
    
    
    
    
    
    
    
    
    /*FOOTER*/
    footer{
    width:100%;
    background-color:#F5F5F5;
    color:black;
    margin-top: 150px;
    }
    
    .top_header{
    padding:2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    }
    
    .top_header section{
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    }
    
    .top_header span{
    padding:0 1rem;
    }
    
    .top_header .fa{
    color:#ffbe00;
    font-size:35px;
    }
    
    footer .border-shape {
    width: 40%;
    }
    
    footer .border-shape::before {
    width: 100%;
    left:120px;
    }
    
    footer .border-shape::after {
    width: 100%;
    right:120px;
    }
    
    footer .bottom_content section{
    padding:1.5rem 2rem;
    display:flex;
    align-items:center;
    justify-content:Center;
    }
    
    .bottom_content a{
    margin:0 20px;
    color:rgba(255,255,255,0.7);
    transition:0.5s;
    }
    
    .bottom_content a:hover{
    color:rgba(255,255,255,1);
    }
    
    
    .copyright{
    padding:0.8em 0;
    background-color:#F5F5F5;
    text-align:center;
    color:black;
    font-size:12px;
    }
    
    
    
    @media (max-width:820px){
    .top_header{
    padding:1rem;
    display:block;
    }
    
    .top_header section{
    margin:40px 0;
    align-items:left;
    justify-content:left;
    }
    footer .bottom_content section{
    padding:1rem;
    display:block;
    }
    footer .bottom_content section a{
    padding:1rem;
    font-size:12px;
    margin:0 5px;
    display:inline-block;
    }
    }
    
    