
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
   
}
.header{
    background-color: #F5F5F5;
}
.header_sec{
    position: sticky;
    padding: 17px 0px;
    display: flex;
    justify-content: space-between;


}
.m{
    padding:0px  20px;
}
.header_1{
    display: flex;
}
.header_2{
    display: flex;
    margin-right: 12px;
}
.search{
    width: 36vw;
    height: 36px;
    padding: 0px 40px;
    border-radius: 30px;
}
.trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.text_trend{
    font-family: 'League Spartan', sans-serif;
    margin-left: 20px;

}
.songs_title{
    font-family: 'Fredoka', sans-serif;
}
.all{
    float: right;
    display: block;
    text-decoration: none;
    margin-right: 26px;
    color: #ff0000;
}


/* Form Css */

.f-flex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.form_error{
    color: red;
    float: right;
    clear: both;
}

.play_ib{
    position: absolute;
    top: 30%;
    left: 45%;
     display: none; 

    
}

.greycolor{
    color: #c1bcbc;
}

.songLook{
    opacity: 0.7;
    transition: 0.5s ease-out;
}


/* Hamburger */

.hamburger_ele{
    display: none; 
    position: fixed;
    top: 0%;
    width: 23%;
    background-color: #fdfdfd;
    height: 100%;
    z-index: 1;
    padding: 1.5rem;
}


.login_signup:hover{
    color: gainsboro;

}

.ham_link{
    text-decoration: none;
    color: black;
}
.ham_link:hover{
    color: #4a3b3b;
    text-decoration: none;
}
.quick_access{
    margin-top: 2rem;
}

.a_child{
    margin: 1.5rem;
    text-decoration: none;
    color: black;
}

/* song_d.html */

.b_song_d{
    display: flex;
    margin: 120px 15px;

}
.song_d_n{
    margin: 40px;
}
/* tr:hover{
    cursor: pointer;
    background-color: #ccc;
  } */

/* song play */

.play_song {
    position: fixed;
    bottom:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: rgb(211, 207, 207);

}
.ps{

}

.im_nm_sec {
    display: flex;
    margin: 10px;
}

#ply_img {
    border-radius: 4px;
}

.div_nm_sng {
    margin-left: 8px;
}
.btn_play_next{
    padding-top: 12px;
    position: absolute;
    left: 46%;
}
/* .audio_control{
    
} */
.fav_i{
    padding-top: 23px;
    position: absolute;
    left: 22%;
}

#slider{
    height: 10px;
    width: 500px;
    background-color: white;
    margin:5px 0px 0px 18%;
    cursor: pointer;

}
#slidersong{
    background-color: black;
    height: 10px;
    width: 50%;
    transition: all 7s;
}
#song_time{
    border: 1px solid black;
    height: 47%;
    padding: 4px;
    border-radius: 10px;
    margin: 13px;
}
.artist_l{
    display: flex;
}
.circle_a{
    border-radius: 50%;
    width: 200px;
    height: 200px; 
    background-color: black;
    margin: 14px;

}
.tdS{
    width: 37px;
    height: 20px;
    color: black;
}

.three_list{
    display: none;
    position: fixed;
    padding: 15px;
    bottom: 43px;
    left: 26%;
    z-index: 1;
    /* display: none; */
    background-color: rgb(211, 207, 207);
}
.tdl{
    margin: 5px;
}
.share_t{
    margin-left: 5px;
}
.rm_u{
    text-decoration: none;
    color: black;
}
.rm_u:hover{
    text-decoration: none;
    color: black;
   

}


